<nav class="navbar navbar-expand-md border-bottom sticky-top stayora-navbar" aria-label="Main navigation">
    <div class="container-fluid stayora-nav-wrap">
        <!-- Brand / Logo -->
        <a class="navbar-brand stayora-brand" href="/listings">
            <i class="fa-solid fa-book-atlas"></i>
            <span>Stayora</span>
        </a>

        <!-- Mobile Toggler -->
        <button
            class="navbar-toggler stayora-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse stayora-navbar-collapse" id="navbarNavAltMarkup">

            <!-- Left side of navbar -->
            <div class="navbar-nav stayora-nav-left">
                <a class="nav-link stayora-nav-link" href="/listings">Explore</a>
            </div>

            <!-- Search Bar -->
            <div class="stayora-search-wrap ms-auto">
                <form class="search-form" role="search" method="GET" action="/listings">
                    <input
                        class="form-control search-inp"
                        type="search"
                        name="search"
                        placeholder="Search destinations"
                        aria-label="Search destinations"
                        value="<%= typeof filters !== 'undefined' && filters.search ? filters.search : '' %>"
                    />
                    <button class="btn search-btn" type="submit">
                        <i class="fa-solid fa-magnifying-glass-location"></i>
                        <span>Search</span>
                    </button>
                </form>
            </div>

            <!-- Right side of navbar -->
            <div class="navbar-nav stayora-nav-right ms-auto">
                <a class="nav-link stayora-nav-link host-link" href="/listings/new">Stayora your home</a>

                <% if(!currUser) { %>
                    <a class="nav-link stayora-nav-link" href="/signup"><b>Sign up</b></a>
                    <a class="nav-link stayora-nav-link" href="/login"><b>Log in</b></a>
                <% } %>

                <% if(currUser) { %>
                    <a class="nav-link stayora-nav-link wishlist-link" href="/listings/wishlist">
                        <span>Wishlist</span>
                        <% if (typeof wishlistCount !== "undefined" && wishlistCount > 0) { %>
                            <span class="wishlist-badge"><%= wishlistCount %></span>
                        <% } %>
                    </a>
                    <a class="nav-link stayora-nav-link" href="/logout"><b>Log out</b></a>
                <% } %>
            </div>
        </div>
    </div>
</nav>